<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverNameStr" value="Provider=Microsoft.Ace.OLEDB.12.0;"/>
    <add key="PersistSecurityStr" value="Persist Security Info=False;"/>
    <add key="DataSourceStr" value="Data Source=C:\Users\ShiMao\Desktop\KR\KRdb.accdb"/>
  </appSettings>
</configuration>